header {
    background-color: #2563eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 1rem;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}

a {
    font-size: 2rem;
    font-weight: 700;
}

a:link {
    color: #fecdd3;
}

a:visited {
    color: #f43f5e;
}

header > div:last-child {
    font-size: 1.25rem;
}