header {
    background-color: #2563eb;
    display: flex;
    height: 5rem;
    padding: 1rem;
    box-sizing: border-box;
    align-items: center;
}

header > div:first-child {
    margin-right: auto;
    visibility: hidden;
    width: 10rem;
}

nav {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}

a {
    font-size: 2rem;
    font-weight: 700;
}

a:link {
    color: #fecdd3;
}

a:visited {
    color: #f43f5e;
}

header > div:last-child {
    font-size: 1.25rem;
}

#icons {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 700;
    width: 10rem;
    margin-left: auto;
}

header img {
    width: 2rem;
}