section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 89%;
    gap: 1rem;
}

.card {
    border: 2px solid black;
    border-radius: 6px;
    height: 20rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    gap: .5rem;
}

img {
    height: 14rem;
}

.panel {
    display: flex;
    gap: .3rem;
}

.panel > div:first-child, .panel > div:last-child {
    background-color: rgb(181, 210, 243);
    border: 1px solid rgb(245, 240, 240);
    border-radius: 4px;
    padding: .1rem;
    width: .75rem;
    text-align: center;
    cursor: pointer;
}

.amount {
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    background-color: rgb(233, 233, 233);
}

span {
    pointer-events: none;
}